body {
  font-size: 14px;
  padding-top: 50px;
}

.navbar {
  border-radius: 0; 
  background-color: black;
}

.navbar-default .navbar-brand{
  color: #FFF;
}

.row {
  margin-bottom: 50px;
}

.page-header{
  text-align: center;
  text-shadow: 2px 2px 0px #bfbfbf;
}

.page-header img{
  max-width:200px;
  border: 5px solid;
  border-top-color: #FF9900;
  border-right-color: #B40097;
  border-bottom-color: #7D9F00;
  border-left-color: #0D58A6;
  border-radius: 50%;
}

.biograpy{
  text-align: center;
}

.works-wrapper{
  height: 600px;
  padding: 20px 0s;
  background-color: #f7f7f7;
  text-align: center;
}


.heading{
  padding-bottom: 20px;
  color: #5f5d60;
}

.heading h2{
  font-weight: normal;
}

.work{
  float: left;
  width: 25%;
}

.work-icon{
  position: relative;
}

.work-icon p{
  padding-top: 15px;
  width: 100%;
}

.txt-contents{
  width: 80%;
  display: inline-block;
  font-size: 12px;
  color: #b3aeb5;
}

.heading h3{
  font-weight: normal;
}


.icon {
  text-align: center;
}

.icon .fa{
  margin-bottom: 10px;
  font-size: 50px;
}

.fa-twitter-square{
  color: #55acee;
}

.content h2 {
  margin-top: 0;
  padding-bottom: 15px;
}
.content p {
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid#e7e7e7;
  background-color: #f8f8f8;
  text-align: center;
}

.copyright {
  padding: 20px 0;
  font-size: 12px;
  color: #666;
}

@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }
  .panel-title {
    font-size: 14px;
  }
}